<!DOCTYPE html>
<html>
    <head>
        <title>Võ Anh Tú | LinkedIn</title>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/materialize.css">
    </head>
    <body ng-app="app" ng-controller="ProfileController as vm">
        <!--Script-->
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/profile.module.js"></script>
        <script src="scripts/profile.controller.js"></script>
        <!--Import jQuery before materialize.js-->
        <script src="scripts/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="scripts/materialize.min.js"></script>
        
        <!--Body-->
        <div class="top-header">
            <div class="container-fluid"></div>
        </div>
        
        <!--Basic Information-->
        <div class="container profile">
            <div class="profile-overall">
                <div class="profile-overall-picture">
                    <img src="images/avatar.jpg" alt="Avatar">
                </div>
                
                <div class="profile-overall-summary">
                    <div class="info-logo">
                        <a href="#profilemodal" class="modal-trigger">
                            <img src="images/ic_mode_edit.png"/> 
                        </a>                                    
                    </div>
                    <li><span class="full-name" dir="auto"><b>{{vm.account.name}}</b></span></li>
                    <li><span class="position-name" dir="auto">{{vm.account.position}} at {{vm.account.company}}</span></li>
                    <li><span class="country-industry-name" dir="auto">{{vm.account.country}} | {{vm.account.industry}}</span></li>
                    <table class="work-places">
                        <tr>
                            <th>
                                <li>Current</li>
                                <li>Previous</li>
                                <li>Education</li>
                            </th>
                            <th>
                                <li><span class="current-work-name">{{vm.account.currentwork}}</span></li>
                                <li><span class="previous-work-name">{{vm.account.previouswork}}</span></li>
                                <li><span class="education-name">{{vm.account.education}}</span></li>
                            </th>
                        </tr>   
                    </table>
                    <div class="profile-overall-summary-connect">
                        <a class="waves-effect waves-light btn" href="https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US">Follow</a>
                    </div>
                </div>
                <div class="row profile-overall-extra">
                    <div class="col link valign-wrapper">
                        <i id="linkA-bullet" class="valign"></i>
                        <a class="link-ref valign" href="{{vm.account.profileUrl}}">
                            <span>{{vm.account.profileUrl}}</span>
                        </a>
                    </div>
                    <div class="col right more-info valign-wrapper link">
                        <i id="linkB-bullet" class="valign"></i>
                        <a class="link-ref valign" href="">
                            <span>Contact Info</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal Structure -->
        <div id="profilemodal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Information</h4>
                <div class="row update-infor">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="{{vm.account.name}}" id="update_name" type="text" class="validate" ng-model="vm.new_name">
                                <label for="update_name">Fullname</label>
                            </div>  
                            <div class="input-field col s6">
                                <input placeholder="{{vm.account.education}}" id="update_edu" type="text" class="validate" ng-model="vm.new_edu">
                                <label for="update_edu">Education</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="{{vm.account.position}}" id="update_position" type="text" class="validate" ng-model="vm.new_pos">
                                <label for="update_position">Position</label>
                            </div>  
                            <div class="input-field col s6">
                                <input placeholder="{{vm.account.company}}" id="update_company" type="text" class="validate" ng-model="vm.new_company">
                                <label for="update_company">Company</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="{{vm.account.country}}" id="update_country" type="text" class="validate" ng-model="vm.new_country">
                                <label for="update_country">Country</label>
                            </div>  
                            <div class="input-field col s6">
                                <input placeholder="{{vm.account.industry}}" id="update_industry" type="text" class="validate" ng-model="vm.new_industry">
                                <label for="update_industry">Industry</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="{{vm.account.currentwork}}" id="update_currentwork" type="text" class="validate" ng-model="vm.new_current">
                                <label for="update_currentwork">Current Work</label>
                            </div>  
                            <div class="input-field col s6">
                                <input placeholder="{{vm.account.previouswork}}" id="update_previouswork" type="text" class="validate" ng-model="vm.new_previous">
                                <label for="update_previouswork">Previous Work</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="vm.update()">Confirm</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
        
        <!--Main Body-->
        <div class="row">
            <div id="profile" class="container">
                <!--Background-->
                <div class="card-body">
                    <h2 class="card-title">Background</h2>
                    <div id="background-content" class="card-content">
                        <!--Summary-->
                        <div class="background-section">
                            <div class="valign-wrapper background-section-header">
                                <img src=".\images\header-summary.png" class="valign" />
                                <h3 class="valign">Summary</h3>
                            </div>
                            <p class="description">{{vm.summary}}</p>
                        </div>
                        <!--Experience-->
                        <div class="background-section">
                            <div class="valign-wrapper background-section-header">
                                <img src=".\images\header-experience.png" class="valign" />
                                <h3 class="valign">Experience</h3>
                            </div>
                            <div ng-repeat="exp in vm.experience">
                                <div class="row info-bar">
                                    <div style="display: inline-block">
                                        <a href="https://www.linkedin.com/title/{{exp.title}}?trk=mprofile_title"
                                            title="Learn more about this title" class="info-title">{{exp.title}}</a>
                                        <a href="{{exp.companyUrl}}" class="info-subtitle">{{exp.companyName}}</a>
                                        <span class="info-date">{{exp.startPeriod}} – {{exp.endPeriod}}
                                            <span ng-show="exp.duration != ''">({{exp.duration}})</span>
                                        <span ng-show="exp.location != ''"> | {{exp.location}}</span>
                                        </span>
                                    </div>
                                    <div class="info-logo" ng-show="exp.companyLogo != ''">
                                        <a href="{{exp.companyUrl}}">
                                        <img src="{{exp.companyLogo}}" /> 
                                        </a>                                    
                                    </div>
                                </div>
                                <p class="description">{{exp.description}}</p>
                            </div>
                        </div>
                        <!--Skills-->
                        <div class="background-section">
                            <div class="valign-wrapper background-section-header">
                                <img src=".\images\header-skill.png" class="valign" />
                                <h3 class="valign">Skills</h3>
                            </div>
                            <div id="skills-section">
                                <div>
                                    <h5>Top Skills</h5>
                                    <div class="skill-pill" ng-repeat="skill in vm.skills | limitTo: 10">
                                        <a class="btn-skill-count waves-effect waves-light btn">{{skill.endorsers}}</a>
                                        <a class="btn-skill-description" href="https://www.linkedin.com/topic/{{skill.name}}?trk=mprofile_topic">
                                            {{skill.name}}
                                        </a>
                                    </div>
                                </div>
                                <div id="extra-skills" ng-show="skills.length > 10">
                                    <h5>{{name[0]}} also knows about...</h5>
                                    <div class="skill-pill" ng-repeat="skill in vm.skills" ng-show="$index >= 10">
                                        <a class="btn-skill-count waves-effect waves-light btn">{{skill.endorsers}}</a>
                                        <a class="btn-skill-description" href="https://www.linkedin.com/topic/{{skill.name}}?trk=mprofile_topic">
                                            {{skill.name}}
                                        </a>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                        <!--Education-->
                        <div class="background-section background-last-section">
                            <div class="valign-wrapper background-section-header">
                                <img src=".\images\header-education.png" class="valign" />
                                <h3 class="valign">Education</h3>
                            </div>
                            <div>
                                <div class="row info-bar" ng-repeat="edu in vm.education">
                                    <div style="display: inline-block">
                                        <a href="{{edu.url}}" class="info-title">{{edu.name}}</a>
                                        <a class="info-subtitle">{{edu.title}}</a>
                                        <span class="info-date">{{edu.startPeriod}} – {{edu.endPeriod}}</span>
                                    </div>
                                    <div class="info-logo">
                                        <a href="{{edu.url}}">
                                        <img src="{{edu.logo}}" height="60" /> 
                                        </a>              
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            $(document).ready(function() {
                $('.modal-trigger').leanModal();
            });
        </script>
    </body>
</html>